<div class="row">
  <div class="col-xs-12 " >
    <a  href="#" class="list-group-item clearfix"  (click)="onItemSelected()">

      <div class="float-left" >
        <h4 class="list-group-item-heading">{{recipe.neme}}</h4>
        <p class="list-group-item-text ">{{recipe.description}}</p>
      </div>
      <span class="float-right">
        <img class="img-responsive" style="max-height: 50px;"
             [src]="recipe.imagePath" alt="{{recipe.neme}}">

      </span>
    </a>
  </div>
</div>
